@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  outline: 1px solid red;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

:root {
  /* COLORS */
  --primary-violet: #715882;
  --dark-violet: #513d5f;
  --pale-violet: #e3dee6;
  --very-pale-violet: #faf8fb;
  --white: #ffffff;
  --background: #d5cdda;
  --primary-orange: #d57253;
  --dark-orange: #d85b34;
  --pale-orange: #fbf6ef;
  /* SHADOWS */
  --main-component: 6px 15px 43px 12px rgba(0, 0, 0, 0.15);
  --row-selected: 0px 0px 12px rgba(210, 81, 40, 0.25);
}
#root {
  width: 90%;
  display: grid;
  place-items: center;
}
body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  background-color: var(--background);
  display: grid;
  place-items: center;
}

h1,
h2,
p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-violet);
}
h2 {
  font-size: calc((18 / 16) * 1rem);
  font-weight: 500;
  color: var(--primary-orange);
}
p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark-violet);
  font-weight: 700;
}

button {
  background-color: transparent;
  border: unset;
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.center {
  display: grid;
  place-items: center;
}

.fill {
  width: -webkit-fill-available;
}

.none {
  display: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: calc((22 / 16) * 1rem);
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: calc((12 / 16) * 1rem);
    line-height: 1.75;
  }
}
