.mainBreadcrumb {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  align-self: flex-start;
}
.bread-crumb {
  text-decoration: none;
}

.bread-crumb p {
  color: var(--primary-orange);
  font-size: calc((18 / 16) * 1rem);
  font-weight: 600;
  text-align: center;
}
.active p {
  color: var(--dark-orange);
  font-size: calc((18 / 16) * 1rem);
}

@media (max-width: 768px) {
  .mainBreadcrumb {
    gap: 0;
    flex-direction: column;
    align-self: center;
  }
  .bread-crumb p {
    font-size: 1rem;
  }
}
