.mainRootLayout {
  border-radius: 160px 160px 160px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: calc((64 / 16) * 1rem) calc((96 / 16) * 1rem);
  box-shadow: var(--main-component);
  background-color: var(--white);
  width: 100%;
  max-width: calc((895 / 16) * 1rem);
  margin: 5rem 0;
  height: auto;
  min-height: 90%;
}

.outlet {
  height: 100%;
  overflow: scroll;
  width: 100%;
}

@media (max-width: 768px) {
  .mainRootLayout {
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: 2rem;
    margin: 2rem 0;
  }
  .mainRootLayout > h1 {
    text-align: center;
  }
}
